@charset "utf-8";
.popular {
  position: relative;
  display: block;
}
.popular-more {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 34px;
  padding: 0 20px;
  border: 1px solid #bbb;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  background-color: #fff;
  transition: background-color 0.3s;
}
.popular-more:hover {
  background-color: #f9f9f9;
}
